<%# 作成モーダルの挿入 %>
<%= turbo_frame_tag "card-create-modal", data: { controller: "modal" } %>

<div class="min-h-screen bg-main-bg">
  <main class="flex flex-col items-center justify-center px-8 py-12">
    <%# <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8"> %>
    <div class="w-full max-w-md mb-6">
      <div class="mb-8 flex justify-between">
        <h2 class="text-2xl font-bold text-text text-center"><%= @group.name %></h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <circle cx="12" cy="5" r="2"/>
          <circle cx="12" cy="12" r="2"/>
          <circle cx="12" cy="19" r="2"/>
        </svg>
      </div>
      <div id="group_details">
        <%= render "details", group: @group %>
      </div>
    </div>

    <div class="w-full max-w-md">
      <div class="mb-8 flex justify-between">
        <h2 class="text-2xl font-bold text-text text-center"><%= t('.travel_candidates') %></h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <circle cx="12" cy="5" r="2"/>
          <circle cx="12" cy="12" r="2"/>
          <circle cx="12" cy="19" r="2"/>
        </svg>
      </div>
      <div>
        <% if @group.cards.any? %>
          <%= render "cards", card:@groups.cards %>
        <% else %>
           <p class="text-text"><%= t('.no_cards') %></p>
        <% end %>
      </div>
    </div>
  </main>
</div>
